# Environment variables
.env
gcreds.json
*.json
!package.json
!render.yaml

# Exclude large vectorstore files
vectorstore/
*.pkl
labour_laws/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# VS Code
.vscode/

# Logs
*.log

# Local development
.DS_Store

vectorstore/
*.pkl
aibot.html
aibot2.html
jobs.csv
