# Environment variables
.env
gcreds.json
*.json
!package.json
!render.yaml

# Exclude large vectorstore files
vectorstore/
*.pkl
labour_laws/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# VS Code
.vscode/

# Logs
*.log

# Local development
.DS_Store

# HTML files
aibot.html
aibot2.html

# Data files
jobs.csv

# Python config
pyenv.cfg