fastapi
uvicorn
python-dotenv
openai
gspread
oauth2client
python-multipart
python-docx
pdfminer.six
pandas
numpy
scikit-learn
langchain
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
sentence-transformers
gdown>=4.7.1
requests>=2.31.0                

